<!-- Toolbar -->
<header class="toolbar" role="banner">Parfum,</header>

<main class="main-content">
  <p-card
    header="PERFUME"
    subheader="Gabrielle Essence Eau De Parfum"
    [style]="{
      width: '45%',
      display: 'flex',
      flexDirection: 'row',
      borderRadius: '0.6em'
    }"
  >
    <ng-template pTemplate="header">
      <img
        alt="Product image"
        class="product-Image"
        src="../assets/image-product-desktop.jpg"
      />
    </ng-template>
    <p>
      A floral, solar and voluptuous interpretation composed by Olivier Polge,
      Perfumer-Creator for the house of CHANEL.
    </p>
    <h1 class="product-price">$149.99</h1>
    <h3 class="product-prev-price">$169.99</h3>

    <ng-template pTemplate="footer">
      <p-button
        class="add-cart-btn"
        label="Add to Cart"
        icon="pi pi-shopping-cart"
      ></p-button>
    </ng-template>
  </p-card>
</main>

<footer>
  Challenge by&nbsp;
  <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
    >Frontend Mentor</a
  >. Coded by&nbsp;<a href="#">Ghada</a>.
</footer>
